.container {
  width: 250px;
  height: 100vh;
  border-right: solid 1px black;
}

nav {
  padding: 20px;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.active {
  color: #ffd43b;
  font-weight: bold;
}
